<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div *ngIf="userData;then content else other-content"></div>
    <ng-template #content>
      <ion-title>Settings</ion-title>
    </ng-template>
    <ng-template #other_content>
    </ng-template>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>Informasi Pengguna</ion-title>
  <hr>
<div *ngIf="userData">
  <pre>Nama   : {{userData.name_user}}</pre>
    <pre>NIM    : {{userData.nim_user}}</pre>
    <pre>Email  : {{userData.email_user}}</pre>
    <pre>Divisi : {{userData.divisi_id}}</pre>
    <pre>Poin   : {{userData.jumlah_point}}</pre>
    <hr>
    <button ion-button block outline (click)="goToEventHistoryPage()">
      Update Informasi<pre> </pre><ion-icon name="create"></ion-icon>
    </button>
    <button ion-button block outline (click)="goToEventHistoryPage()">
      Event History
    </button>
  </div>
</ion-content>
