<ion-header>
  <ion-navbar>
    <div *ngIf="admin;then content else other_content"></div>
    <ng-template #content>
      <ion-title>
        Home (Admin)
      </ion-title>
    </ng-template>
    <ng-template #other_content>
      <ion-title>
        Home
      </ion-title>
    </ng-template>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="ipen">
    <div *ngFor="let ip of ipen">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{ip.nama_event}}
          </ion-card-title>
          <pre>Lokasi : {{ip.tempat}}</pre>
          <pre>Dimulai saat : {{ip.time_start}}</pre>
          <pre>Berakhir saat : {{ip.time_finish}}</pre>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start (click)="toggleDetails(ip)">
              Detail Event
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              Share
              <ion-icon name='share-alt'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <div *ngIf="ip.showDetails">
          <ion-row>
            Detail: {{ip.deskripsi_event}}
            <br>
          </ion-row>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>