<ion-header>
  <ion-navbar color="danger">
    <div *ngIf="admin;then content else other_content"></div>
    <ng-template #content>
      <ion-title>
        Reward List (Admin)
      </ion-title>
    </ng-template>
    <ng-template #other_content>
      <ion-title>
        Reward List
      </ion-title>
    </ng-template>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <div *ngIf="ipen">
    <div *ngFor="let ip of ipen">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{ip.nama_reward}}
          </ion-card-title>
          <pre>Poin yang dibutuhkan : {{ip.points_reward}}</pre>
          <pre>Persediaan : {{ip.quantity_reward}}</pre>
          <pre>Detail : {{ip.deskripsi_reward}}</pre>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              Redeem
              <ion-icon name='share-alt'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
